table 
{
    border: 2px ridge grey;
    /*para forzar el tamaño de las columnas...porque sino lo hace relativo para llenar el ancho de pagina*/
    width:700px;
}

/*para aplicar estilo a varios elementos/class... utilizar la coma */
th, td
{
    border: 1px dotted blue;
    padding:10px;
    vertical-align: top;
}

img 
{
    margin-right: 10px;
    width:45%;
}

.float
{
    float:left;
}

.cellBackGround
{
    background-image: url("images/boton_on.jpg");
    background-size: 100%;
}

.ancho150
{
    width:150px;
}

.ancho300
{
    width:300px;
}
